2.model/*
!2.model/paillier-master
!2.model/montgomery
!2.model/python-paillier-master
!2.model/script

3.vivado/*
!3.vivado/*.xpr
!3.vivado/*.wcfg

4.questasim/*

6.vitis/*
!6.vitis/paillier

visio
word

data

./*.txt


























